PGVECTOR_DATABASE_URL=
PGVECTOR_COLLECTION_NAME=langchain_docs
PGVECTOR_CREATE_EXTENSION=false

LLM_PROVIDER=ollama
EMBEDDING_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=deepseek-r1:1.5b
EMBEDDING_MODEL=nomic-embed-text
